.sidebar {
    position: fixed;
    top: 100px;
    right: 200px;
    width: 25%;
    padding-left: 25px;
}
.sidebar__user {
    display: flex;
    align-items: center;
}
.sidebar__user-avator {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    border-radius: 50%;
    background: #f83a63;
    overflow: hidden;
    cursor: pointer;
}
.sidebar__user-avator img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sidebar__user-name {
    padding-left: 10px;
    text-transform: capitalize;
}
.sidebar__list {
    margin: 20px 0;
}
.sidebar__list h3 {
    font-size: 15px;
    font-weight: 400;
    color: silver;
}
.sidebar__list-user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.sidebar__list-a {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__list-a-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar__list-a-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sidebar__list-a-name {
    margin-left: 8px;
    font-size: 14px;
}
.sidebar__list-b {
    flex: 1;
    text-align: center;
}
.sidebar__list-b a {
    text-decoration: none;
    color: #098bbe;
    font-size: 14px;
}
.sidebar__show_friend {
    display: flex;
}
.sidebar__show_friend h3 {
    flex: 1;
}
.sidebar__show_friend a {
    flex: 1;
    text-decoration: none;
    color: rgb(49, 40, 40);
    font-size: 14px;
}
@media (max-width: 765px) {
    .sidebar {
        display: none;
    }
}
