@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
}
::-webkit-input-placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}
:-ms-input-placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}
::placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}
.container {
  width: 80%;
  padding: 0 200px;
  margin: 0 auto;
  margin-top: 80px;
}

@media (max-width: 765px) {
  .container {
    padding: 0 20px;
  }
}
