.actions {
    display: flex;
    width: 100%;
    margin-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
.action__icons {
    font-size: 25px;
    cursor: pointer;
}
.actions__list-a {
    flex: 1;
    align-items: center;
    justify-content: center;
}

span.action {
    display: inline-block;
    padding: 8px;
}
.action-b-save {
    float: right;
}
svg:not(:root) {
    overflow: hidden;
}
.action.active {
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
    -webkit-animation-name: like-button-animation;
    animation-name: like-button-animation;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.action__list_like.active svg {
    fill: rgb(237, 73, 86);
}
.action-b-save.active svg {
    fill: rgb(237, 73, 86);
}
.action-b {
    flex: 1;
    align-items: flex-end;
}
.status,
.view {
    display: flex;
    width: 100%;
    padding: 5px 0px 0px 25px;
}
.view__number {
    text-transform: capitalize;
}
.status-name {
    width: 20%;
    margin-right: 8px;
    text-transform: capitalize;
}
.status-msg {
    font-size: 14px;
    color: silver;
    font-weight: 300;
    padding-right: 25px;
}

@keyframes like-button-animation {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}
